
<div class="view1_outside" layout="column">

        <!--<p class="question_title">Please describe how your week is going so far. Be as detailed as possible.</p>-->

        <!--<textarea-->
                <!--class="question_textbox"-->
                <!--ng-model="textboxhere"-->
                <!--[name="string"]-->
                <!--[required="string"]-->
                <!--[ng-required="string"]-->
                <!--[ng-minlength="number"]-->
                <!--[ng-maxlength="number"]-->
                <!--[ng-pattern="string"]-->
                <!--[ng-change="string"]-->
                <!--[ng-trim="boolean"]>-->
        <!--</textarea>-->


        <div ng-model="output_text" class="buttonxsong">
                <!--<input type="button" class="btn btn-success" value="Go" id="vxLogin" ng-click="sendText()" style="width:25%">-->
                <input type="button" class="btn btn-success button-small red_dark rounded3" value="Login" id="actualLogin" ng-click="login()" style="width:25%">

        </div>

        <!--<div ng-hide="!loggedIn">-->
                <!--<iframe ng-src="{{songUrl}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
        <!--</div>-->

</div>